name: build

on:
  workflow_dispatch:
    inputs:
      test_build:
        description: 'Test build'
        required: true
        default: 'false'
        type: choice
        options:
        - true
        - false
      fake_build:
        description: 'Fake build'
        required: true
        default: 'false'
        type: choice
        options:
        - true
        - false
      suffix:
        description: 'TAG suffix'
        required: false
        default: ''
        type: string

env:
  TEST_BUILD: ${{ github.event.inputs.test_build == 'true' }}
  FAKE_BUILD: ${{ github.event.inputs.fake_build == 'true' }}
  TAG_SUFFIX: ${{ github.event.inputs.suffix }}
  REPO_LNK: openwrt-xiaomi/dropbear
  TAG_PREFIX: v
  TZ: UTC
  BUILD_DATE: unknown
  REPO_DATE: unknown

jobs:
  check:
    runs-on: ubuntu-24.04
    outputs:
      tag: ${{ steps.gh.outputs.tag }}
      date: ${{ steps.gh.outputs.date }}
      sha: ${{ steps.gh.outputs.sha }}
      url: ${{ steps.gh.outputs.url }}
      message: ${{ steps.gh.outputs.message }}
      build_date: ${{ steps.gh.outputs.build_date }}
      build_time: ${{ steps.gh.outputs.build_time }}
      fw_date: ${{ steps.gh.outputs.fw_date }}
      test_build: ${{ env.TEST_BUILD }}
      fake_build: ${{ env.FAKE_BUILD }}
    steps:
      - name: Get repo data via GH API
        id: gh
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          echo "Tag name from GITHUB_REF_NAME: $GITHUB_REF_NAME"
          echo "Tag name from github.ref_name: ${{ github.ref_name }}"
          BRANCH=$(gh api repos/$REPO_LNK --jq '.default_branch')
          REPO_DATE=$(gh api repos/$REPO_LNK/commits/$BRANCH --jq '.commit.committer.date')
          BUILD_DATE=$( date --utc +'%Y%m%d' )
          BUILD_TIME=$( date --utc +'%H%M' )
          FW_DATE=$( date --utc +'%Y-%m-%d' )
          TAG=$TAG_PREFIX$BUILD_DATE-$BUILD_TIME
          echo "TAG=$TAG" >> $GITHUB_ENV 
          echo "REPO_DATE=$REPO_DATE" >> $GITHUB_ENV
          {
            echo "tag=$TAG"
            echo "date=$(date --utc -d $REPO_DATE +%Y%m%d)"
            echo "sha=$(gh api repos/$REPO_LNK/commits/$BRANCH --jq '.sha[0:7]')"
            echo "url=$(gh api repos/$REPO_LNK/commits/$BRANCH --jq '.html_url')"
            echo "message<<EOF"
            gh api repos/$REPO_LNK/commits/$BRANCH --jq '.commit.message'
            echo EOF
            echo "build_date=$BUILD_DATE"
            echo "build_time=$BUILD_TIME"
            echo "fw_date=$FW_DATE"
          } >> $GITHUB_OUTPUT
  
  build:
    needs: check
    runs-on: ubuntu-24.04
    strategy:
      fail-fast: false
      matrix:
        include:
          - arch: arm64
            container: ghcr.io/openwrt/sdk:aarch64_generic-24.10.4
            host: aarch64-openwrt-linux
            cross: aarch64-openwrt-linux-
            cflags: "-Os -ffunction-sections -fdata-sections"

          - arch: armv7a
            container: ghcr.io/openwrt/sdk:arm_cortex-a7-24.10.4
            host: arm-openwrt-linux-musleabi
            cross: arm-openwrt-linux-musleabi-
            cflags: "-Os -ffunction-sections -fdata-sections"

          - arch: armv5
            container: ghcr.io/openwrt/sdk:arm_cortex-a5_vfpv4-24.10.4
            host: arm-openwrt-linux-musleabi
            cross: arm-openwrt-linux-musleabi-
            cflags: "-Os -ffunction-sections -fdata-sections"

          - arch: mips
            container: ghcr.io/openwrt/sdk:mipsel_24kc-24.10.4
            host: mipsel-openwrt-linux
            cross: mipsel-openwrt-linux-
            cflags: "-Os -ffunction-sections -fdata-sections"
    container:
      image: ${{ matrix.container }}
      options: --user root
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Mark repo as safe for git
        run: |
          git config --global --add safe.directory "$GITHUB_WORKSPACE"
    
      - name: Debug sources
        run: |
          pwd
          git remote -v
          git rev-parse HEAD
          ls -la
    
      - name: Bootstrap (only if needed)
        run: |
          if [ ! -x ./configure ]; then
            echo "configure missing, running autoreconf"
            autoreconf -fi
          fi

      - name: Configure
        run: |
          export TARGET_HOST=${{ matrix.host }}
          export CROSS_TOOL=${{ matrix.cross }}
          ./configure \
            --host=$TARGET_HOST \
            --enable-static \
            --disable-zlib \
            --disable-harden \
            --disable-pam \
            --enable-bundled-libtom \
            --enable-openpty \
            --enable-syslog \
            --disable-lastlog \
            --disable-utmpx \
            --disable-utmp \
            --disable-wtmp \
            --disable-wtmpx \
            --disable-loginfunc \
            --disable-pututline \
            --disable-pututxline \
            CC="${CROSS_TOOL}gcc" \
            CFLAGS="${{ matrix.cflags }}" \
            LDFLAGS="-static -Wl,--gc-sections -Wl,--strip-all"

      - name: Build
        id: compile
        run: |
          make -j$(nproc) PROGRAMS="dropbear scp dropbearkey" MULTI=1 STATIC=1
          if [ ! -e "dropbearmulti" ]; then
              echo "ERROR: File dropbearmulti not found!"
              exit 1
          fi
          OUT_DIR=artifacts
          mkdir -p $OUT_DIR
          cp -f dropbearmulti $OUT_DIR/
          echo "OUT_DIR=$OUT_DIR" >> $GITHUB_ENV
          echo "status=success" >> $GITHUB_OUTPUT

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        if: steps.compile.outputs.status == 'success'
        with:
          name: dropbearmulti-${{ matrix.arch }}
          path: artifacts/*
          if-no-files-found: error 

  release:
    needs: [ check, build ]
    permissions:
      contents: write
    runs-on: ubuntu-24.04
    strategy:
      max-parallel: 1
    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v4
        with:
          pattern: dropbearmulti-*

      - name: Put images into zip
        env:
          TAG: ${{ needs.check.outputs.tag }}
        run: |
          ls -la
          mkdir -p public
          for XDIR in ./dropbearmulti-*; do
              if [ -d "$XDIR" ]; then
                  NAME=$( basename $XDIR )
                  ARCH=$( echo $NAME | cut -d- -f2 )
                  cp $XDIR/dropbearmulti ./public/dropbearmulti_$ARCH
              fi
          done
          find ./public -type f -name 'dropbearmulti_*' -exec sh -c 'zip -0 ./public/dropbearmulti-$TAG.zip -j {} {}/*' \;

      - name: Upload assets
        uses: andelf/nightly-release@main
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          TAG: ${{ needs.check.outputs.tag }}
        with:
          prerelease: false
          tag_name: ${{ needs.check.outputs.tag }}${{ env.TAG_SUFFIX }}
          name: '${{ needs.check.outputs.tag }}'
          body: |
            dropbearmulti for XMiR-Patcher ${{ needs.check.outputs.build_date }}-${{ needs.check.outputs.build_time }}
            author: [remittor](https://github.com/remittor)
          files: ./public/*.zip
